<div class="obj-container">
  <div class="wysiwyg-content">
    <h3 class="util-font-family-sans util-font-weight-bold">
      Bridging divides for better health
    </h3>
    <p>
      More positive outcomes, greater equity, fewer errors, and lower
      costs—these are among the known benefits of interprofessional practice, a
      specific form of collaboration that unites team members from two or more
      distinct disciplines. Practitioners play a key role in advancing the study
      and practice of interprofessional care at Ohio State—both as seasoned
      advisors to students, as well as developing learners themselves.
    </p>
    <p>
      Our BuckIPE curriculum offers a multitude of opportunities for
      practitioners to participate in acute, ambulatory, rehabilitation, and
      community settings. Our goal is to learn to work more effectively together
      so we can solve healthcare’s most pressing problems—and elevate the health
      and equity within our communities.
    </p>
    <p>
      For more information, contact
      <a href="mailto:Lorem.ipsum@osu.edu">Lorem.ipsum@osu.edu</a>
    </p>
  </div>
</div>
