<div class="obj-container">
  <div class="news">
    <div class="news__intro" data-aos="fade-right">
      <h2 class="news__heading">News</h2>
      <a href="#" class="news__cta link">Explore more news</a>
    </div>

    <div
      class="news__featured news-item news-item--featured"
      data-aos="fade-right"
      data-aos-delay="200"
    >
      <div class="bordered-media news-item__image">
        <img
          src="./assets/images/vet-care.jpg"
          srcset="
            ./assets/images/vet-care.jpg    1x,
            ./assets/images/vet-care-2x.jpg 2x
          "
          width="675"
          height="450"
          alt="a female vet technician is examining a light tan-colored french bulldog"
        />
      </div>

      <div class="news-item__details">
        <span class="kicker kicker--scarlet">
          Students &bull; Community Partners
        </span>
        <h3 class="news-item__heading">
          IPE students connect pets to free veterinary care, food, and
          medication
        </h3>
        <span class="news-item__date">June 20, 2022</span>
      </div>
    </div>

    <div class="news__list" data-aos="fade" data-aos-delay="200">
      <div class="news-item" data-aos="fade-up" data-aos-delay="400">
        <div class="news-item__image">
          <img
            src="./assets/images/buck-ipe.jpg"
            srcset="
              ./assets/images/buck-ipe.jpg    1x,
              ./assets/images/buck-ipe-2x.jpg 2x
            "
            width="200"
            height="200"
            alt="a large group of people standing on the field at a stadium holding a sign that says BuckIPE"
          />
        </div>

        <div class="news-item__details">
          <span class="kicker kicker--scarlet">Educators</span>
          <h3 class="news-item__heading">
            Interprofessional education trains health care students to
            collaborate for patients' best health
          </h3>
          <span class="news-item__date">May 16, 2022</span>
        </div>
      </div>

      <div class="news-item" data-aos="fade-up" data-aos-delay="400">
        <div class="news-item__image">
          <img
            src="./assets/images/exam.jpg"
            srcset="./assets/images/exam.jpg 1x, ./assets/images/exam-2x.jpg 2x"
            width="200"
            height="200"
            alt="a doctor checking a young patient's throat"
          />
        </div>

        <div class="news-item__details">
          <span class="kicker kicker--scarlet">Students</span>
          <h3 class="news-item__heading">
            Inaugural cohort of new Health Equity Scholars Program unveiled
          </h3>
          <span class="news-item__date">April 26, 2022</span>
        </div>
      </div>

      <div class="news-item" data-aos="fade-up" data-aos-delay="400">
        <div class="news-item__image">
          <img
            src="./assets/images/doctor-patient-square.jpg"
            srcset="
              ./assets/images/doctor-patient-square.jpg    1x,
              ./assets/images/doctor-patient-square-2x.jpg 2x
            "
            width="200"
            height="200"
            alt="a doctor holding an iPad talking to an older patient"
          />
        </div>

        <div class="news-item__details">
          <span class="kicker kicker--scarlet">Practitioners</span>
          <h3 class="news-item__heading">
            Improving patient-centered care through a student-run free clinic
          </h3>
          <span class="news-item__date">April 13, 2022</span>
        </div>
      </div>
    </div>
    <a
      href="#"
      class="news__cta link"
      data-aos="fade-right"
      data-aos-delay="200"
    >
      Explore more news
    </a>
  </div>
</div>
