<div class="obj-container">
  <div class="content-w-media">
    <div class="content-w-media__intro" data-aos="fade-right">
      <h2 class="content-w-media__heading">Success Stories</h2>
      <a href="#" class="content-w-media__cta link">Explore more stories</a>
    </div>

    <div
      class="content-w-media__media"
      data-aos="fade-left"
      data-aos-delay="200"
    >
      <div class="bordered-media">
        <img
          src="./assets/images/success-story.jpg"
          srcset="
            ./assets/images/success-story.jpg    1x,
            ./assets/images/success-story-2x.jpg 2x
          "
          width="675"
          height="450"
          alt="a female employee of The OSU Wexner Medical Center smiling"
          loading="lazy"
        />
      </div>
    </div>

    <div
      class="content-w-media__content"
      data-aos="fade-right"
      data-aos-delay="100"
    >
      <span class="kicker kicker--scarlet">Practitioners</span>
      <h3>
        Through Virtual Tools and Support, BuckIPE Students Empower Patient
        After Life-changing Diagnosis
      </h3>
      <p class="util-font-size-md">
        Sed arcu, suscipit libero pellentesque sed placerat. Habitant netus
        nullam mattis ornare. Platea tincidunt vitae integer viverra neque.
      </p>
      <a href="#" class="button">Read the full story</a>
    </div>

    <a href="#" class="content-w-media__cta link" data-aos="fade-right"
      >Explore more stories</a
    >
  </div>
</div>
