<div class="page-hero">
  <div class="obj-container">
    <h1 class="page-hero__heading">Practitioners</h1>

    <div class="page-hero__media" data-aos="fade-left">
      <div class="bordered-media">
        <img
          src="./assets/images/doctor-patient.jpg"
          srcset="
            ./assets/images/doctor-patient.jpg    1x,
            ./assets/images/doctor-patient-2x.jpg 2x
          "
          width="675"
          height="450"
          alt="a doctor is holding an iPad and talking with a patient"
        />
      </div>
    </div>

    <div class="page-hero__content" data-aos="fade-up">
      <h2 class="h1">Create a collaborative culture within your practice.</h2>
      <p class="util-font-size-md">
        Healthier populations start with stronger professional collaboration.
        The Center for Interprofessional Practice and Education works with
        health practitioners and leaders at Ohio State to improve teamwork among
        faculty, staff, and learners.
      </p>
    </div>

    <div class="page-hero__links page-links" data-aos="fade-up">
      <h3 class="page-links__heading">Resources</h3>

      <ul class="page-links__list">
        <li class="page-links__item">
          <a href="#" class="page-links__link link">
            Integrating IPE into your organization
          </a>
        </li>
        <li class="page-links__item">
          <a href="#" class="page-links__link link">
            Student Recruiting Guide
          </a>
        </li>
      </ul>

      <h3 class="page-links__heading">Connect</h3>

      <ul class="page-links__list">
        <li class="page-links__item">
          <a href="#" class="page-links__link link">
            Collaborate with BuckIPE
          </a>
        </li>
        <li class="page-links__item">
          <a href="#" class="page-links__link link">OSU IPE Office</a>
        </li>
        <li class="page-links__item">
          <a href="#" class="page-links__link link">Where to find us?</a>
        </li>
      </ul>
    </div>

    <div class="page-hero__event-list event-list" data-aos="fade-up">
      <h3 class="event-list__heading">Upcoming Events</h3>
      <ul class="event-list__list">
        <li class="event-list__item">
          <a href="#" class="event-list__link">
            <span class="event-list__date">
              <span class="day">05</span>
              <span class="month">Aug</span>
            </span>
            <span class="event-list__details">
              <span class="kicker kicker--scarlet">Practitioners event</span>
              <span class="event-list__event-heading h3">
                Webinar: Catalyzing Climate Change Content in Health Professions
                Education
              </span>
            </span>
          </a>
        </li>

        <li class="event-list__item">
          <a href="#" class="event-list__link">
            <span class="event-list__date">
              <span class="day">22</span>
              <span class="month">Jun</span>
            </span>
            <span class="event-list__details">
              <span class="kicker kicker--scarlet">Practitioners event</span>
              <span class="event-list__event-heading h3">
                2022 IPEC Interprofessional Leadership Development Program
                (ILDP)
              </span>
            </span>
          </a>
        </li>

        <li class="event-list__item">
          <a href="#" class="event-list__link">
            <span class="event-list__date">
              <span class="day">22</span>
              <span class="month">Apr</span>
            </span>
            <span class="event-list__details">
              <span class="kicker kicker--scarlet">Practitioners event</span>
              <span class="event-list__event-heading h3">
                Texas IPE Consortium Annual Meeting
              </span>
            </span>
          </a>
        </li>
      </ul>

      <a href="#" class="event-list__cta link">Explore our calendar</a>
    </div>
  </div>
</div>
