<div class="site-header__main">
  <div class="obj-container">
    <a href="#" class="site-header__main-logo">
      <span class="kicker">Center For</span>
      <span class="h1">Interprofessional Practice and Education</span>
    </a>

    <div class="site-header__actions">
      <button
        class="site-header__button site-header__button--calendar"
        aria-label="View Calendar"
      >
        <img src="calendar.svg" alt="" />
      </button>

      <button
        class="site-header__button site-header__button--search"
        aria-label="Search Site"
      >
        <img src="search.svg" alt="" />
      </button>

      <button
        class="site-header__button site-header__button--menu"
        aria-label="View Menu"
        aria-controls="main-nav"
      >
        <img src="menu.svg" alt="" />
      </button>
    </div>

    <nav id="main-nav" class="site-header__nav">
      <ul class="site-header__list site-header__list--primary">
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">About</a>
        </li>
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">Students</a>
        </li>
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">Educators</a>
        </li>
        <li class="site-header__list-item site-header__list-item">
          <a href="#" class="site-header__link site-header__link--current">
            Practitioners
          </a>
        </li>
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">Community Partners</a>
        </li>
      </ul>

      <ul class="site-header__list site-header__list--secondary">
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">Registry</a>
        </li>
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">BuckIPE</a>
        </li>
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">News</a>
        </li>
        <li class="site-header__list-item">
          <a href="#" class="site-header__link">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
