<div class="site-footer__bottom">
  <p>Brought to you by</p>
  <ul class="site-footer__logo-list">
    <li>
      <a href="#" aria-label="The Ohio State University"
        ><img src="osu.svg" alt=""
      /></a>
    </li>
    <li>
      <a href="#" aria-label="The Ohio State University Wexner Medical Center"
        ><img src="osu-wexner.svg" alt=""
      /></a>
    </li>
    <li>
      <a
        href="#"
        aria-label="The Ohio State University Office of Academic Afairs"
        ><img src="osu-academic-affairs.svg" alt=""
      /></a>
    </li>
  </ul>
</div>
