<div class="site-header__top-bar">
  <a href="#" class="site-header__osu-logo">
    <img
      src="./assets/images/osu-logo.png"
      srcset="
        ./assets/images/osu-logo-2x.png 2x,
        ./assets/images/osu-logo.png    1x
      "
      alt="The Ohio State University"
      width="245"
      height="29"
    />
  </a>

  <nav class="site-header__utility-nav">
    <ul class="site-header__utility-list">
      <li class="site-header__utility-item">
        <a href="#" class="site-header__utility-link">BuckeyeLink</a>
      </li>
      <li class="site-header__utility-item">
        <a href="#" class="site-header__utility-link">Find People</a>
      </li>
      <li class="site-header__utility-item">
        <a href="#" class="site-header__utility-link">Webmail</a>
      </li>
      <li class="site-header__utility-item">
        <a href="#" class="site-header__utility-link"> Search Ohio State </a>
      </li>
    </ul>
  </nav>
</div>
