<div class="site-footer__bottom">
  <p class="util-margin-b-none">Brought to you by</p>
  <ul class="site-footer__logo-list">
    <li class="site-footer__logo-list-item">
      <a href="#" aria-label="The Ohio State University">
        <img src="osu.svg" alt="" />
      </a>
    </li>
    <li class="site-footer__logo-list-item">
      <a href="#" aria-label="The Ohio State University Wexner Medical Center">
        <img src="osu-wexner.svg" alt="" />
      </a>
    </li>
    <li class="site-footer__logo-list-item">
      <a
        href="#"
        aria-label="The Ohio State University Office of Academic Afairs"
      >
        <img src="osu-academic-affairs.svg" alt="" />
      </a>
    </li>
  </ul>
  <a href="#" class="button">View all participating colleges</a>
</div>
