<div class="site-footer__main">
  <a href="#" class="site-footer__logo">
    <span class="kicker">Center For</span>
    <span class="h3 util-font-size-xxl">
      Interprofessional Practice and Education
    </span>
  </a>

  <ul class="site-footer__social">
    <li>
      <a href="#" class="site-footer__social-link" aria-label="Facebook">
        <img src="facebook.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#" class="site-footer__social-link" aria-label="Twitter">
        <img src="twitter.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#" class="site-footer__social-link" aria-label="Instagram">
        <img src="instagram.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#" class="site-footer__social-link" aria-label="YouTube">
        <img src="youtube.svg" alt="" />
      </a>
    </li>
  </ul>

  <div class="site-footer__contact">
    <p>
      <span class="h5">Address</span><br />
      100 Building Name<br />
      1 Oval Mall<br />
      Columbus, OH 43210
    </p>
    <p>
      <a href="mailto:email@osu.edu">email@osu.edu</a><br />
      <a href="tel:16142926446">614-292-OHIO</a>
    </p>
  </div>

  <div class="site-footer__links">
    <p class="h5">Helpful Links</p>
    <ul>
      <li><a href="#">Activity Registry</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Make a gift</a></li>
    </ul>
  </div>

  <div class="site-footer__legal">
    <p>
      If you have a disability and experience difficulty accessing this content,
      please contact the Digital Accessibility Center for assistance at
      <a href="mailto:accessibility@osu.edu">accessibility@osu.edu</a> or
      <a href="tel:16142921760">614-292-1760</a>.
    </p>
    <ul class="util-margin-b-xl">
      <li><a href="#">Privacy Statement</a></li>
      <li><a href="#">Non-discrimination Notice</a></li>
      <li><a href="#">Cookie Settings</a></li>
    </ul>
    <p class="util-margin-b-none">&copy; 2022 The Ohio State University</p>
  </div>
</div>
