<div class="site-footer__subscribe">
  <div class="site-footer__subscribe-intro">
    <p class="h4">Stay connected</p>
    <p>
      Join our mailing list for the latest from the Center for IPE at Ohio State
      delivered right to your inbox.
    </p>
  </div>

  <form class="site-footer__form">
    <label for="email" class="util-sr-only">Email</label>
    <input id="email" name="email" type="text" placeholder="Email" />
    <input type="submit" value="Subscribe" />
    <p>
      By subscribing you agree with the
      <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.
    </p>
  </form>
</div>
