@each $key, $val in $scale-values {
  .util-margin-t-#{$key} {
    margin-top: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-margin-b-#{$key} {
    margin-bottom: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-margin-l-#{$key} {
    margin-left: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-margin-r-#{$key} {
    margin-right: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-margin-x-#{$key} {
    margin-left: calc(#{$val} / #{$scale-base} * 1rem);
    margin-right: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-margin-y-#{$key} {
    margin-top: calc(#{$val} / #{$scale-base} * 1rem);
    margin-bottom: calc(#{$val} / #{$scale-base} * 1rem);
  }

  .util-padding-t-#{$key} {
    padding-top: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-padding-b-#{$key} {
    padding-bottom: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-padding-l-#{$key} {
    padding-left: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-padding-r-#{$key} {
    padding-right: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-padding-x-#{$key} {
    padding-left: calc(#{$val} / #{$scale-base} * 1rem);
    padding-right: calc(#{$val} / #{$scale-base} * 1rem);
  }
  .util-padding-y-#{$key} {
    padding-top: calc(#{$val} / #{$scale-base} * 1rem);
    padding-bottom: calc(#{$val} / #{$scale-base} * 1rem);
  }
}

.util-margin-t-auto {
  margin-top: auto;
}

.util-margin-b-auto {
  margin-bottom: auto;
}

.util-margin-l-auto {
  margin-left: auto;
}

.util-margin-r-auto {
  margin-right: auto;
}

.util-margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.util-margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}
