.page-hero {
  padding-top: var(--size-xxxl);
  padding-bottom: var(--size-xxl);
  background-color: var(--color-gray-light-90);

  &__content {
    background-color: var(--color-white);
    padding: var(--size-xxl);
    margin-right: var(--size-xxl);
    margin-top: calc(var(--size-xxl) * -1);
    position: relative;
    z-index: 1;
  }

  &__media * {
    width: 100%;
    max-width: none;
  }

  &__links {
    padding: var(--size-xxl);
  }

  &__event-list {
    padding: var(--size-xxl);
    background-color: var(--color-white);
  }

  @media screen and (min-width: map-get($breakpoints, 'lg')) {
    padding-bottom: 0;
    background-color: transparent;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: -1;

      /* prettier-ignore */
      width: calc((100vw - var(--width-container)) / 2 + (2 / 3 * var(--width-container)));
      background-color: var(--color-gray-light-90);
    }

    .obj-container {
      display: grid;
      grid-template-columns: 1fr var(--size-xxxl) 1fr 1fr;
      grid-template-rows: min-content auto var(--size-xxxl) auto;
    }

    &__heading {
      grid-row: 1;
      grid-column: 1;
    }

    &__content {
      grid-row: 2 / 4;
      grid-column: 1 / 3;
      margin: 0;
    }

    &__media {
      grid-row: 1 / 3;
      grid-column: 2 / -1;
    }

    &__links {
      grid-column: 1 / 4;
    }

    &__event-list {
      grid-column: 4 / 6;
    }
  }
}
