.site-header {
  // overflow: hidden;
  width: 100vw;

  /* The value of "content" is checked in navigation.js to
	determine which functions to execute for mobile vs desktop nav.
	Be sure to update any other media queries in this file if changing this one. */
  &::after {
    @include sr-only;

    content: 'mobile';

    @media screen and (min-width: map-get($breakpoints, 'md')) {
      content: 'desktop';
    }
  }

  &__top-bar {
    position: relative;
    padding: var(--size-xxs) var(--size-xl);
    border-bottom: 2px solid var(--color-gray-dark-40);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__osu-logo {
    padding: var(--size-xxs) 0;
  }

  &__utility-button {
    background: transparent;
    border: 0;
    margin-left: auto;

    &[aria-hidden='true'] {
      display: none;
    }

    &[aria-expanded='false'] {
      .close {
        display: none;
      }
    }

    &[aria-expanded='true'] {
      .menu {
        display: none;
      }
    }
  }

  &__utility-nav {
    position: absolute;
    top: calc(100% + 2px); // bottom border width
    left: 100%;
    width: 100vw;
    height: 100dvh;
    padding-top: var(--size-md);
    padding-bottom: var(--size-md);
    background: var(--color-gray-light-40);
    z-index: 10;
    transition: transform 0.2s ease;

    &[aria-hidden='false'] {
      transform: translateX(-100%);
    }

    @media screen and (min-width: map-get($breakpoints, 'md')) {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      background: transparent;

      &[aria-hidden='false'] {
        transform: translateX(0);
      }
    }
  }

  &__utility-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-sm);

    @media screen and (min-width: map-get($breakpoints, 'md')) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__utility-link {
    display: block;
    color: var(--color-gray-dark-80);
    text-decoration: underline;
    font-size: var(--size-xs);
    padding: var(--size-xxs) 0;
  }

  &__main {
    border-bottom: 1px solid var(--color-gray-light-60);
    padding-top: var(--size-xl);

    .obj-container {
      display: grid;
      grid-template-columns: 1fr max-content;
      column-gap: var(--size-md);
    }
  }

  &__main-logo {
    color: var(--color-gray-dark-80);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .kicker {
      @include font-sans;

      text-transform: uppercase;
      display: block;
      font-size: var(--size-sm);
      line-height: var(--line-height-none);
    }
  }

  &__actions {
    margin-left: auto;
    align-self: center;
  }

  &__button {
    background: transparent;
    border: 0;
  }

  &__nav {
    width: 100%;
    grid-column: -1 / 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: var(--size-md);
  }

  &__link {
    display: block;
    padding: var(--size-md) 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__list--primary &__link {
    color: var(--color-gray-dark-80l);
    font-weight: var(--weight-bold);
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--color-scarlet);
      transition: width 0.2s ease;
    }

    &:hover,
    &:focus,
    &--current {
      &::after {
        width: 100%;
      }
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &__list--secondary &__link {
    color: var(--color-gray-dark-40);
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: var(--color-gray-dark-80);
    }
  }
}
